{% extends "one/base.html" %}
{% block content %}
<div class="content-section">
	<h3>Pick your courses! </h3>
<p class="text-muted">Take a look at the PILOT-supported courses below and select all the course/professor pairs you would like to register for! <b>Please be sure to select the course with your professor only! </b></p>

<form action="get_courses/" method="post">
	{% csrf_token %}
	<tr><th><label><b>Supported Courses:</b></i> </label></th><td><ul id="id_classes">
		<li><label for="id_classes_0"><input type="checkbox" name="classes" value="1" id="id_classes_0">
			Calculus I (Biology and Social Sciences) <i class="text-muted"> with Professor C. Sogge</i> </label>

		</li>
		<li><label for="id_classes_1"><input type="checkbox" name="classes" value="2" id="id_classes_1">
			Calculus II (For Biological and Social Science) <i class="text-muted"> with Professor C. Mese</i> </label>

		</li>
		<li><label for="id_classes_2"><input type="checkbox" name="classes" value="3" id="id_classes_2">
			Calculus I (For Physical Sciences and Engineering) <i class="text-muted"> with Professor J. Spruck</i> </label>

		</li>
		<li><label for="id_classes_3"><input type="checkbox" name="classes" value="4" id="id_classes_3">
			Calculus II (For Physical Sciences and Engineering) <i class="text-muted"> with Professor V. Zakharevich</i> </label>

		</li>
		<li><label for="id_classes_4"><input type="checkbox" name="classes" value="5" id="id_classes_4">
			Calculus III <i class="text-muted"> with Professor R. Brown</i> </label>

		</li>
		<li><label for="id_classes_5"><input type="checkbox" name="classes" value="6" id="id_classes_5">
			Linear Algebra <i class="text-muted"> with Professor J. Han</i> </label>

		</li>
		<li><label for="id_classes_6"><input type="checkbox" name="classes" value="7" id="id_classes_6">
			Differential Equations and Applications <i class="text-muted"> with Professor TBA</i> </label>

		</li>
		<li><label for="id_classes_7"><input type="checkbox" name="classes" value="8" id="id_classes_7">
			Introductory Chemistry I <i class="text-muted"> with Professor J. Tolman</i> </label>

		</li>
		<li><label for="id_classes_8"><input type="checkbox" name="classes" value="9" id="id_classes_8">
			Introductory Chemistry I <i class="text-muted"> with Professor S. Thyagarajan</i> </label>

		</li>
		<li><label for="id_classes_9"><input type="checkbox" name="classes" value="10" id="id_classes_9">
			Organic Chemistry I <i class="text-muted"> with Professor C. Falzone</i> </label>

		</li>
		<li><label for="id_classes_10"><input type="checkbox" name="classes" value="11" id="id_classes_10">
			Organic Chemistry I <i class="text-muted"> with Professor C. Townsend</i> </label>

		</li>
		<li><label for="id_classes_11"><input type="checkbox" name="classes" value="12" id="id_classes_11">
			Organic Chemistry I <i class="text-muted"> with Professor M. Greenberg</i> </label>

		</li>
		<li><label for="id_classes_12"><input type="checkbox" name="classes" value="13" id="id_classes_12">
			Physics I (For Physical Sciences and Engineering) <i class="text-muted"> with Professor M. Swartz</i> </label>

		</li>
		<li><label for="id_classes_13"><input type="checkbox" name="classes" value="14" id="id_classes_13">
			Physics I (For Physical Sciences and Engineering) Active Learning (AL) <i class="text-muted"> with Professor R. Wyse</i> </label>

		</li>
		<li><label for="id_classes_14"><input type="checkbox" name="classes" value="15" id="id_classes_14">
			Physics I (For Physical Sciences and Engineering) Active Learning (AL) <i class="text-muted"> with Professor R. Leheny</i> </label>

		</li>
		<li><label for="id_classes_15"><input type="checkbox" name="classes" value="16" id="id_classes_15">
			Physics II (For Physical Sciences and Engineering) <i class="text-muted"> with Professor P. Maksimovic</i> </label>

		</li>
		<li><label for="id_classes_16"><input type="checkbox" name="classes" value="17" id="id_classes_16">
			Physics I (Biology and Social Sciences) <i class="text-muted"> with Professor T. Marriage</i> </label>

		</li>
		<li><label for="id_classes_17"><input type="checkbox" name="classes" value="18" id="id_classes_17">
			Gateway Computing: JAVA <i class="text-muted"> with Professor S. More</i> </label>

		</li>
		<li><label for="id_classes_18"><input type="checkbox" name="classes" value="19" id="id_classes_18">
			Gateway Computing: JAVA <i class="text-muted"> with Professor I. Sekyonda</i> </label>

		</li>
		<li><label for="id_classes_19"><input type="checkbox" name="classes" value="20" id="id_classes_19">
			Gateway Computing: JAVA <i class="text-muted"> with Professor TBA</i> </label>

		</li>
		<li><label for="id_classes_20"><input type="checkbox" name="classes" value="21" id="id_classes_20">
			Discrete Math <i class="text-muted"> with Professor B. Castello</i> </label>

		</li>
		<li><label for="id_classes_21"><input type="checkbox" name="classes" value="22" id="id_classes_21">
			Statistical Analysis I <i class="text-muted"> with Professor A. Athreya</i> </label>

		</li>
		<li><label for="id_classes_22"><input type="checkbox" name="classes" value="23" id="id_classes_22">
			Spanish Elements II <i class="text-muted"> with Professor M. Tracy</i> </label>

		</li>
		<li><label for="id_classes_23"><input type="checkbox" name="classes" value="24" id="id_classes_23">
			Fundamentals of Epidemiology <i class="text-muted"> with Professor H. Mckay</i> </label>

		</li>
		<li><label for="id_classes_24"><input type="checkbox" name="classes" value="25" id="id_classes_24">
			Fundamentals of Epidemiology <i class="text-muted"> with Professor M. Schneider</i> </label>

		</li>
		<li><label for="id_classes_25"><input type="checkbox" name="classes" value="26" id="id_classes_25">
			Public Health Biostatistics <i class="text-muted"> with Professor M.Taub</i> </label>

		</li>
		<li><label for="id_classes_26"><input type="checkbox" name="classes" value="27" id="id_classes_26">
			Public Health Biostatistics <i class="text-muted"> with Professor L. Jager</i> </label>

		</li>
		<li><label for="id_classes_27"><input type="checkbox" name="classes" value="28" id="id_classes_27">
			Elements of Macroeconomics <i class="text-muted"> with Professor R. Barbera</i> </label>

		</li>
	</ul></td></tr>
	<input class="green-button" type="submit" value="Submit">
</form>
</div>
{% endblock content %}