<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../../static/one/main.css">

    <title>PILOT Registration</title>
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-white fixed-top">
        <div class="container navigation">
            <a class="navbar-brand mr-4" ><img class="navbar-image" src="../../static/images/pilotlogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="temp">
                <img class="temp-image" src="../../static/images/closed-icon.png">
                <h1 class="holding-text text-muted">Registration is closed. <br><br>Contact Ariane Kelly at ariane.kelly@jhu.edu if
                    you have any questions. </h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3 style="text-align: center;">FAQ</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><b>WAITLIST</b><br>If you are on a waitlist,
                        we will email you when a space opens up. Thank you for your patience.</li>
                    <li class="list-group-item list-group-item-light"><b>TIMELINE</b><br>
                        PILOT Registration will close on Sunday, September 1st at 9pm. You will receive your session
                        placement from the PILOT Office by Friday, September 6th. PILOT sessions will start on Monday, September 9th.
                    <li class="list-group-item list-group-item-light"><b>SCHEDULE CHANGES</b><br>
                        If you need to request a schedule change, please fill out this
                        <a href="https://jhukrieger.co1.qualtrics.com/jfe/form/SV_6mqX35G2tlNF5KR.">form</a>. If sessions
                        are full we may not be able to immediately fulfill your request.  Thank you for your patience.</li>
                </ul>
                <br>
                <p class='text-muted'>Still have questions? Contact Ariane Kelly at ariane.kelly@jhu.edu</p>
                </p>
            </div>
        </div>
    </div>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
