{% extends "one/base.html" %}
{% block content %}
<div class="content-section">
    <h3>Drop a section</h3>
    <p class="text-muted"> Here is the status of your current PILOT enrollment requests.</p>
    <div class="article-metadata">
        <h5>Enrolled sections:</h5>
    </div>
    {% if enrolled|length > 0 %}
        <form action="/drop/" method="post">
            {% csrf_token %}
            <ul>
            {% for meeting in enrolled %}
                <li><input type="checkbox" name="meeting" value="{{meeting.id}}">
                    {{ meeting.course }}
                    {{ meeting.start_time}} - {{meeting.end_time}} {{ meeting.day }}
                </li>
            {% endfor %}
            </ul>
        <input type="submit" value="Drop" onclick="return validateAndSend()">
            <p class="text-muted"> You will not be able to revert this action</p>
            <p id="select_text" class="errorlist"></p>
        </form>
    {% else %}
    <h6 class="stat-course"><b>You are not enrolled in any sections.</b></h6>
    <form method="post">
        {% csrf_token %}
    </form>
    {% endif %}<br>

    <div class="article-metadata">
        <h5>Waitlisted sections:</h5>
    </div><br>
    {% if waitlist|length > 0 %}
    <div class="card-container">
        {% for meeting in waitlist %}
        <div class="course-card {%  cycle 'semesterly-red' 'semesterly-blue' 'semesterly-green' 'semesterly-yellow' %}">
            <div class="slot-bar
                                    {%  cycle 'semesterly-dark-red' 'semesterly-dark-blue' 'semesterly-dark-green' 'semesterly-dark-yellow' %}"></div>
            <p class="stat-course">{{ meeting.course }}</p>
            <p>{{ meeting.start_time}} - {{meeting.end_time}} {{ meeting.day }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h6 class="stat-course"><b>You are not waitlisted for any sections.</b></h6>
    {% endif %}
    <br>
</div>
<script>
    function validateAndSend() {
        if ($('input[type=checkbox]').is(":checked")) {
            return true;
        } else {
            $("#select_text").text("Select a pilot session");
            return false;
        }
    }
</script>
{% endblock content%}
