{% extends "one/base.html" %}
{% block content %}
<div class="content-section">
    <h3>Drop a session</h3>
    <p class="text-muted"> Here is the status of your current PILOT enrollment requests.</p>
    <div class="article-metadata">
        <tr><th><label><b>Enrolled Sessions:</b></i> </label></th><td><ul>
    </div>
    {% if enrolled|length > 0 %}
        <form action="/drop/" method="post">
            {% csrf_token %}
            <ul>
            {% for meeting in enrolled %}
                <li><label><input type="checkbox" name="meeting" value="{{meeting.id}}">
                    {{ meeting.course }} <br> <i class="text-muted text-indent"> {{ meeting.start_time}} - {{meeting.end_time}} {{ meeting.day }}</i> </label>
                </li>
                <!--<li><input type="checkbox" name="meeting" value="{{meeting.id}}">-->
                    <!--{{ meeting.course }}-->
                    <!--{{ meeting.start_time}} - {{meeting.end_time}} {{ meeting.day }}-->
                <!--</li>-->
            {% endfor %}
            </ul>
        <input class="red-button" type="submit" value="Drop" onclick="return validateAndSend()">
            <p id="select_text" class="errorlist"></p>
        </form>
    {% else %}
    <h6 class="stat-course"><b>You are not enrolled in any sections.</b></h6>
    <form method="post">
        {% csrf_token %}
    </form>
    {% endif %}<br>
</div>
<script>
    function validateAndSend() {
        if ($('input[type=checkbox]').is(":checked")) {
            return true;
        } else {
            $("#select_text").text("Select a pilot session");
            return false;
        }
    }
</script>
{% endblock content%}
