{% extends "one/base.html" %}
{% block content %}
<div class="content-section">
<h3>Select PILOT sessions </h3>
	<p class="text-muted">These are the PILOT sessions associated with the courses you chose. You can only select one preferred meeting time per course.</p>
	<form method="post" class="meetings_form">
		{% csrf_token %}
		{% for course, meeting in meetings.items %}
		<h5>{{ course.name }}<span class="text-muted prof"><i> with {{ course.prof }}</i></span></h5>
			<ul>
			{% for time in meeting %}
					<li><input type="radio" name="{{course.id}}" value="{{time.id}}">
						{{ time }}
						{% if time.enrollment >= time.max %}
						- * WAITLIST ONLY *
						{% endif %}
					</li>
			{% endfor %}
			</ul>
		<br>
		{% endfor %}
		<input class="red-button" type="reset" value="Reset">
		<input class="green-button" type="submit" value="Submit" onclick="return validateAndSend()">
		<p id="select_text" class="errorlist"></p>
	</form>
	<script>
        function validateAndSend() {
            if ($('input[type=radio]').is(":checked")) {
                return true;
            } else {
                $("#select_text").text("Select a pilot session");
                return false;
            }
        }
	</script>
</div>
{% endblock content%}
