{% extends "one/base.html" %}
{% block content %}
	<div class="content-section">
		<h3>Hello, {{student.user }}!</h3>
		<p class="text-muted"> This site will be open from <b>Thursday 8/29 9pm</b> to <b>Sunday 9/1 9pm</b> for you to
			add and drop PILOT classes. Click on Add above to get started! </p>
		<div class="article-metadata">
		<h5>Enrolled sections:</h5>
		</div>
		{% if enrolled|length > 0 %}
			<div class="card-container">
				{% for meeting in enrolled %}
					<div class="course-card {%  cycle 'semesterly-red' 'semesterly-blue' 'semesterly-green' 'semesterly-yellow' %}">
						<div class="slot-bar
                                    {%  cycle 'semesterly-dark-red' 'semesterly-dark-blue' 'semesterly-dark-green' 'semesterly-dark-yellow' %}"></div>
						<p class="stat-course">{{ meeting.course }}</p>
						<p>{{ meeting.start_time}} - {{meeting.end_time}} {{ meeting.day }}</p>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<h6 class="stat-course"><b>You are not enrolled in any sections.</b></h6>
			<form method="post">
				{% csrf_token %}
			</form>
		{% endif %}<br>

		<div class="article-metadata">
		<h5>Waitlisted sections:</h5>
		</div>
		{% if waitlist|length > 0 %}
			<div class="card-container">
			{% for meeting in waitlist %}
				<div class="course-card {%  cycle 'semesterly-red' 'semesterly-blue' 'semesterly-green' 'semesterly-yellow' %}">
					<div class="slot-bar
                                    {%  cycle 'semesterly-dark-red' 'semesterly-dark-blue' 'semesterly-dark-green' 'semesterly-dark-yellow' %}"></div>
					<p class="stat-course">{{ meeting.course }}</p>
					<p>{{ meeting.start_time}} - {{meeting.end_time}} {{ meeting.day }}</p>
				</div>
			{% endfor %}
			</div>
		{% else %}
			<h6 class="stat-course"><b>You are not waitlisted for any sections.</b></h6>
		{% endif %}
		<br>
	</div>
{% endblock content%}
